<!-- Chercher ng-repeat !
 $routescope.repas = user.repas
 $routescope.prénom = user.prénom -->
<ion-view view-title="Infos">
    <ion-content>
        
<!--
        <div class="list" ng-repeat="Repa in repas">
            <p>{{Repa.Nom}}</p>
           <label class="item item-input">
           <input type="text" placeholder="Glucides rapides" ng-value="Repa.gl">
           </label>

           <label class="item item-input">
           <input type="text" placeholder="Glucides lents" ng-value="Repa.gr">
           </label>
            
        </div>
-->



    </ion-content>
</ion-view>