
<ion-view view-title="Infos">
    <ion-content>
        <h2>Entre donc ces informations !</h2>
        <h3>Comment t'appelles-tu ?</h3>
        <ion-list>
        <ion-item>
            <input type="text" placeholder="Prénom">
        </ion-item>
        </ion-list>
        
        <p>De quelle quantité de glucides as-tu besoin, selon les repas ?</p>
        <ion-item ng-repeat="(key,protocole) in user.protocole" href="#/app/Infos">
        <ion-list>
            <p>{{key}}</p>
           <ion-label class="item item-input">
           <input type="number" placeholder="Glucides rapides" ng-value="user.protocole.glucideRapide">
           </ion-label>

           <ion-label class="item item-input">
           <input type="number" placeholder="Glucides lents" ng-value="user.protocole.glucideLent">
           </ion-label>
            
        </ion-list>
        </ion-item>
        
        <button class="button button-balanced" type="submit">Valider</button>
    </ion-content>
</ion-view>