<link rel="manifest" href="../css/style.css">
<ion-view view-title="Page s'enregistrer">
  <ion-content class="padding">
    <img src="..\img\logo.png" alt="error" height="300vh" width="300vh"/><!--300 vh les deux -->
   	<footer>
	    <form action="" method="">
	        <!--<center><<input type="submit" name="s'enregistrer" value="CREER UN COMPTE"></center>-->
		    <button class="button button-block button-positive" type="submit"> NOUVEL UTILISATEUR </button>
	    </form>
    </footer>
  </ion-content>
</ion-view>