<ion-view view-title="Page s'enregistrer">
  <ion-content class="padding">
    <center><img src="..\img\logo.png" alt="error" height="300vh" width="300vh"/></center><!--300 vh les deux -->
   	<footer>
    <form action="" method="">
        <!--<center><<input type="submit" name="s'enregistrer" value="CREER UN COMPTE"></center>-->
        <center>
	          <button class="button button-block button-positive" type="submit"> CREER UN COMPTE </button>
        </center>
    </form>
    </footer>
  </ion-content>
</ion-view>