  <ion-view view-title="Repas">
  <ion-content>
    <h1 class="text-center">Quel type de repas?</h1>
    <ion-list>
    	<ion-item ng-repeat="(key,protocole) in user.protocole">
    		<p>{{key}}</p>
    	</ion-item>
    </ion-list>
    <form action="" method="">
    	<button class="button button-block button-positive" type="submit" ng-repeat="(key,protocole) in user.protocole" ui-sref="#" ng-if="user.protocole.glucidelent == '' && user.protocole.gluciderapide == ''">{{user.protocole}}</button>
    </form>
  </ion-content>
</ion-view>