<ion-view view-title="Users">
  <ion-content>
    <h1>C'est qui ??</h1>
    <ion-list>
      <ion-item ng-repeat="user in users" ui-sref="app.repas">
        {{user.prenom}}
      </ion-item>
    </ion-list>
    <label class="item">
      <!--<button class="button button-block button-royal" type="submit" ng-click="test('yeah')">Je suis nouveau !</button>-->
      <button class="button button-block button-royal" ui-sref="app.infos">Je suis nouveau !</button>
    </label>
  </ion-content>
</ion-view>
